@page
@model YouthAtHeart.Pages.WorkshopListingModel
@{
}

<p>
    <a asp-page="CreateWorkshop">Create New Employee</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.allworkshops[0].wsId)</th>
            <th>@Html.DisplayNameFor(model => model.allworkshops[0].wsName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ if (Model.allworkshops != null)
            {

                @foreach (var item in Model.allworkshops)
                {
                    <tr>
                        <td>@item.wsId</td>
                        <td>@item.wsName</td>
                        <td>
                            <a asp-page="/Detail" asp-route-id="@item.wsId">View</a>
                            <a asp-page="/Edit" asp-route-id="@item.wsId">Edit</a>
                            <a asp-page="/Delete" asp-route-id="@item.wsId">Delete</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>